*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #0E2431;
	gap: 20px;
}
button{
	width: 50px;
	height: 50px;
	font-size: 2rem;
	border-radius: 15px;
}


#date{
	color: #6dee0a;
	font-size: 2rem;
	font-family: sans-serif;
}


#heure{
			color: #6dee0a;
			font-size: 25px;
			font-family: sans-serif;
		}
		h2{
			color: #fff;
			font-size: 50px;
		}

		button {
			width: 200px;
			height: 30px;
			color: #0E2431;
			background-color: #FEC134;
			border: inherit;
			border-radius: 50px;
			font-size: 0.8rem;
			font-weight: 600;
		}





.clock{
	width: 350px;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(sage.png);
	background-size: cover;
	border: 15px solid #0E2431;
	border-radius: 50%;
	box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.1),
			inset 0 -15px 15px rgba(255, 255, 255, 0.09),
			0 15px 15px rgba(0,0,0,0.03),
			inset 0 -15px 15px rgba(0,0,0,0.03);
}
.clock:before{
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 50%;
	z-index: 10000;
}
.clock .hour,
.clock .min,
.clock .sec{
	position: absolute;
}
.clock .hour, .hr{
	width: 160px;
	height: 160px;
}
.clock .min, .mn{
	width: 190px;
	height: 190px;
}
.clock .sec, .sc{
	width: 230px;
	height: 230px;
}
.hr, .mn, .sc{
	display: flex;
	justify-content: center;
	position: absolute;
	border-radius: 50%;
}
.hr:before{
	content: '';
	position: absolute;
	width: 8px;
	height: 80px;
	background: #fb7c14;
	z-index: 10;
	border-radius: 6px 6px 0 0;
}
.mn:before{
	content: '';
	position: absolute;
	width: 4px;
	height: 90px;
	background: #6dee0a;
	z-index: 11;
	border-radius: 6px 6px 0 0;
}
.sc:before{
	content: '';
	position: absolute;
	width: 2px;
	height: 150px;
	background: #fff;
	z-index: 12;
	border-radius: 6px 6px 0 0;
}
.social{
	display: flex;
	flex-direction: row;
	gap: 15px;
}
.social a {
	font-size: 1.9rem;
	color: #FEC134;
}

